<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Pract1.Properties.Settings.RestConnectionString" connectionString="Data Source=DESKTOP-VIBBKL1;Initial Catalog=Rest;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Pract1.Properties.Settings.Rest1ConnectionString"
            connectionString="Data Source=DESKTOP-VIBBKL1;Initial Catalog=Rest1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Pract1.Properties.Settings.newConnectionString" connectionString="Data Source=DESKTOP-VIBBKL1;Initial Catalog=new;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>